@tailwind base;
@tailwind components;
@tailwind utilities;

.step {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(147, 147, 145);
}

.step.active {
  border-color: rgb(160, 160, 163);
  background-color: rgb(187, 131, 26);
}

img {
  width: 100%;
}

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.active {
  color: #f16331;
  text-decoration: underline;
}

body {
  line-height: 1.5;
  color: white;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.2rem;
  max-width: 35rem;
}

a {
  text-decoration: none;
  list-style-type: none;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .contactHeader {
    height: 50dvh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url(/images/Herobg.png) center/cover no-repeat scroll;
  }
}

.signUp {
  height: 90dvh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(/images/pizza1.webp) center/cover no-repeat scroll;
}
