@tailwind base;
@tailwind components;
@tailwind utilities;


/* input{
  border: none;
  width: 100%;

} */

img{
  width: 100%;
}


*,::after,::before{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.active{
 color: #F16331 ;
 text-decoration: underline;
}


body{
  
  line-height: 1.5;

color: white;
  font-size: 0.875rem;
}

h1,h2,h3,h4{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0.7rem;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.2rem;
}
h4{
  font-size: 1rem;
}
p{
  margin-bottom: 1.2rem;
  max-width: 35rem;
}

a{
  text-decoration: none;
  list-style-type: none;
}
@media screen and (min-width:900px){
  h1{
    font-size:4rem ;
  }
  h2{
    font-size:3rem ;
  }
  h3{
    font-size:2rem ;
  }
  h4{
    font-size:1rem ;
  }
  body{
    font-size: 1rem;
  }
  h1,h2,h3,h4{
    line-height: 1;
  }
}
@media screen and (min-width:768px){
  .contactHeader{
      height: 50dvh ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url(/public\images/pizza5.jpeg) center/cover no-repeat scroll;
  }
}
.signUp{
  height: 90dvh ;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url(/public\images/pizza1.webp) center/cover no-repeat scroll;
}